body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

h2 {
    text-align: justify;
    color: #333;
}

table {
    width:100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #4CAF50;
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

td {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e1e1e1;
}